{%extends "自我介绍.html"%}
{%block favorites%}
<section class="ability">
    <dl class="Constitution">
        <dt>体质</dt>
        <dd>18</dd>
    </dl>
    <dl class="Intelligence">
        <dt>智力</dt>
        <dd>18</dd>
    </dl>
    <dl class="Strength">
        <dt>力量</dt>
        <dd>18</dd>
    </dl>
    <dl class="Dexterity">
        <dt>敏捷</dt>
        <dd>18</dd>
    </dl>
    <dl class="Wisdom">
        <dt>感知</dt>
        <dd>18</dd>
    </dl>
    <dl class="Charisma">
        <dt>魅力</dt>
        <dd>18</dd>
    </dl>
</section>
<a class="start" href="/search">开始！</a>
{%endblock%}