<!doctype html>
<html lang="zh-CN">

<head>
    <title>{{ config.SITE_NAME }}</title>
    <!-- 写在 base.html 的 head 里 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="spellSelect">
        <div class="dropdown">
            <form action="/search" method="get">
                <input type="text" name="kw" placeholder="输入法术名...">
                <button type="submit">搜索</button>
                <input type="text" name="rpp" placeholder="每页显示条数">
                <div class="schoolMul">
                    <input type="checkbox" id="防护" name="schoolMul" value="防护" checked /><label for="防护">防护</label>
                    <input type="checkbox" id="咒法" name="schoolMul" value="咒法" checked /><label for="咒法">咒法</label>
                    <input type="checkbox" id="预言" name="schoolMul" value="预言" checked /><label for="预言">预言</label>
                    <input type="checkbox" id="惑控" name="schoolMul" value="惑控" checked /><label for="惑控">惑控</label>
                    <input type="checkbox" id="幻术" name="schoolMul" value="幻术" checked /><label for="幻术">幻术</label>
                    <input type="checkbox" id="死灵" name="schoolMul" value="死灵" checked /><label for="死灵">死灵</label>
                    <input type="checkbox" id="变化" name="schoolMul" value="变化" checked /><label for="变化">变化</label>
                    <input type="checkbox" id="塑能" name="schoolMul" value="塑能" checked /><label for="塑能">塑能</label>
                    <input type="checkbox" id="通用" name="schoolMul" value="通用" checked /><label for="通用">通用</label>
                </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>