<!doctype html>
<html lang="zh-CN">

<head>
    <title>{{ config.SITE_NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="spellSelect">
        <div class="dropdown">
            <form action="/search" method="get">
                <input type="text" name="kw" placeholder="输入法术关键词...">
                <button type="submit">搜索</button>
                <input type="text" name="rpp" placeholder="每页显示条数">
                <div class="schoolMul">
                    <input type="checkbox" id="防护" name="schoolMul" value="防护" /><label for="防护">防护</label>
                    <input type="checkbox" id="咒法" name="schoolMul" value="咒法" /><label for="咒法">咒法</label>
                    <input type="checkbox" id="预言" name="schoolMul" value="预言" /><label for="预言">预言</label>
                    <input type="checkbox" id="惑控" name="schoolMul" value="惑控" /><label for="惑控">惑控</label>
                    <input type="checkbox" id="幻术" name="schoolMul" value="幻术" /><label for="幻术">幻术</label>
                    <input type="checkbox" id="死灵" name="schoolMul" value="死灵" /><label for="死灵">死灵</label>
                    <input type="checkbox" id="变化" name="schoolMul" value="变化" /><label for="变化">变化</label>
                    <input type="checkbox" id="塑能" name="schoolMul" value="塑能" /><label for="塑能">塑能</label>
                    <input type="checkbox" id="通用" name="schoolMul" value="通用" /><label for="通用">通用</label>
                </div>
                <label for="classes">选择你的职业：</label>
                <select name="classMul" id="classes">
                    <option value="">==未选择==</option>
                    <option value='adept'>Adept</option>
                    <option value='alchemist'>Alchemist</option>
                    <option value='antipaladin'>Antipaladin</option>
                    <option value='arcanist'>Arcanist</option>
                    <option value='bard'>Bard</option>
                    <option value='bloodrager'>Bloodrager</option>
                    <option value='cleric'>Cleric</option>
                    <option value='druid'>Druid</option>
                    <option value='hunter'>Hunter</option>
                    <option value='inquisitor'>Inquisitor</option>
                    <option value='investigator'>Investigator</option>
                    <option value='magus'>Magus</option>
                    <option value='medium'>Medium</option>
                    <option value='mesmerist'>Mesmerist</option>
                    <option value='occultist'>Occultist</option>
                    <option value='oracle'>Oracle</option>
                    <option value='paladin'>Paladin</option>
                    <option value='psychic'>Psychic</option>
                    <option value='ranger'>Ranger</option>
                    <option value='redmantisassassin'>Red Mantis Assassin</option>
                    <option value='sahirafiyun'>Sahir-Afiyun</option>
                    <option value='shaman'>Shaman</option>
                    <option value='skald'>Skald</option>
                    <option value='sorcerer'>Sorcerer</option>
                    <option value='spiritualist'>Spiritualist</option>
                    <option value='summoner'>Summoner</option>
                    <option value='summoner (unchained)'>Summoner (Unchained)</option>
                    <option value='warpriest'>Warpriest</option>
                    <option value='witch'>Witch</option>
                    <option value='wizard'>Wizard</option>
                </select>
                <select name="levelMul" id="levels" multiple>
                    <option value="0">戏法</option>
                    <option value="1">I环</option>
                    <option value="2">II环</option>
                    <option value="3">III环</option>
                    <option value="4">IV环</option>
                    <option value="5">V环</option>
                    <option value="6">VI环</option>
                    <option value="7">VII环</option>
                    <option value="8">VIII环</option>
                    <option value="9">IX环</option>
                </select>
            </form>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>