{% extends "base.html" %}
{% block content %}
<section class="spell_themselves">
    {% if results %}
    {% for spell in results %}
    <a href="/search/{{spell.name}}">{{spell.name}}</a>
    <form action="/user/add" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="spell_name" value="{{spell.name}}">
        <button type="submit">⭐</button>
    </form>
    {% endfor %}
    {% elif kw %}
    <p style="padding:20px; font-size:large;">没有找到与「{{ kw }}」相关的法术 (っ °Д °;)っ</p>
    {% endif %}
    <div class="pagination">
        {% if page > 1 %}
        <a href="/search?{{ url_args }}&page={{ page - 1 }}">上一页</a>
        {% endif %}

        <span>第 {{ page }} / {{ ttp }} 页</span>

        {% if page < ttp %} <a href="/search?{{ url_args }}&page={{ page + 1 }}">下一页</a>
            {% endif %}
    </div>
</section>
{% endblock %}